<div class="map-container">
    <div class="map-frame">
      <div id="map"></div>
    </div>
</div>

<div id="settings-active-region"
  (mouseenter)="enterSettingsRegion()" 
  (mouseleave)="exitSettingsRegion()">
  <div class="modal" id="settings" 
  [ngClass]="{dimmed: !cursorInSettings, open: settingsOpen}">
    <button class="modal" id="settings-button"
      *ngIf="!settingsOpen"
      (click)="openSettings()">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-adjustments-horizontal" width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#9e9e9e" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M14 6m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
        <path d="M4 6l8 0" />
        <path d="M16 6l4 0" />
        <path d="M8 12m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
        <path d="M4 12l2 0" />
        <path d="M10 12l10 0" />
        <path d="M17 18m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
        <path d="M4 18l11 0" />
        <path d="M19 18l1 0" />
      </svg>
    </button>
    <div class="close-outer-wrapper">
      <div class="close-inner-wrapper" (click)="closeSettings()">
        <svg id="close" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-x" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff4500" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
          <path d="M10 10l4 4m0 -4l-4 4" />
        </svg>
      </div>
    </div>
    <div class="heading">Settings</div>
    <div class="focus-selector select-group">
      Focus:
      <select [(ngModel)]="focus" (ngModelChange)="updateFocus()">
        <optgroup label="National">
          <option value="national">United States</option>
        </optgroup>
        <optgroup label="States">
          <option *ngFor="let state of states" value="{{utils.clean(state)}}">{{state}}</option>
        </optgroup>
      </select>
    </div>
    <div class="view-selector select-group">
      View:
      <select [(ngModel)]="view" (ngModelChange)="updateView()">
        <option value="bivariate">Bivariate</option>
        <option value="obesity">Obesity Only</option>
        <option value="diabetes">Diabetes Only</option>       
      </select>
    </div>
  </div>
</div>


<div class="data-display-wrapper">
  <div *ngIf="activeFeature !== null" id="state-display" [ngClass]="{modal: true, inactive: !isFeatureActive}">
    <div class="contents-wrapper">
      <div class="header">
        {{utils.uppercaseSentence(utils.replaceAll(parentData.name, "_", " "))}}
      </div>
      <div *ngIf="focus === 'national'" class="data">
        Avg. State Obesity Affliction: <i>{{utils.round(parentData.mean_obesity_percentage)}}</i>%
      </div>
      <div *ngIf="focus === 'national'" class="data">
        Avg. State Diabetes Affliction: <i>{{utils.round(parentData.mean_diabetes_percentage)}}</i>%
      </div>
      <div *ngIf="focus !=='national'" class="data">
        Avg. County Obesity Affliction: <i>{{utils.round(parentData.mean_obesity_percentage)}}</i>%
      </div>
      <div *ngIf="focus !=='national'" class="data">
        Avg. County Diabetes Affliction: <i>{{utils.round(parentData.mean_diabetes_percentage)}}</i>%
      </div>
      
    </div>
  </div>
  <div id="data-display" class="modal" [ngClass]="{modal: true, inactive: !isFeatureActive}">
    <div *ngIf="activeFeature !== null" class="contents-wrapper">
      <div class="header">
        <div *ngIf="focus === 'national'" class="name">
          {{utils.uppercaseSentence(utils.replaceAll(activeFeature.name, "_", " "))}}
        </div>
        <div *ngIf="focus !== 'national'" class="name">
          {{utils.uppercaseSentence(utils.replaceAll(activeFeature.county, "_", " "))}}
        </div>
        <div class="population">
          Population: {{activeFeature.population.toLocaleString("en-US")}}
        </div>
      </div>
      <div class="data">
        <div class="data-box-wrapper">
          <div class="title">
            Obesity Affliction:
          </div>
          <div class="data-wrapper">
            <div class="data-background obesity">
              <div class="data-fill" style="--fill-amt: {{activeFeature.obesity_percentage_afflicted}}%" ></div>
            </div>
            {{activeFeature.obesity_percentage_afflicted}}%
          </div>
        </div>
        <div class="data-box-wrapper">
          <div class="title">
            Diabetes Affliction:
          </div>
          <div class="data-wrapper">
            <div class="data-background obesity">
              <div class="data-fill" style="--fill-amt: {{activeFeature.diabetes_percentage_afflicted}}%" ></div>
            </div>
            {{activeFeature.diabetes_percentage_afflicted}}%
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  