.legend {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .close {
        cursor: pointer;
        height: 10px !important;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .contents {
        transform: translateY(-50px);
        margin-top: 50px;
        .color-map {
            width: 150px;
            height: 150px;
            display: flex;
            position: relative;
            .label {
                position: absolute;
                
                &.y-label {
                    transform: rotateZ(-90deg);
                    bottom: 65px;
                    left: -80px;
                }

                &.x-label {
                    bottom: 0px;
                    left: 7px;
                    transform: translateY(120%);
                }
            }

            .color-col {
                width: 50px;
                height: 150px;
            }
            .color-block {
                width: 50px;
                height: 50px;
                transition-duration: 50ms;
                cursor: pointer;
                

                &:hover, &.active {
                    transform: scale(1.2);
                }
            }
        }

        .range-wrapper {
            margin-top: 50px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: absolute;
            bottom: 10px;
            left: 0;

            .header {
                font-weight: 600;
            }
        }
    }
    
    h2 {
        text-align: center;
    }
}
