<div class="legend">
    <div class="close" (click)="closeWindow()">
        <svg id="close" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-x" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff4500" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
          <path d="M10 10l4 4m0 -4l-4 4" />
        </svg>
      </div>
      
      <div class="contents">
        <div class="color-map">
          <div class="y-label label">
            Obesity Affliction 
          </div>
          <div class="x-label label">
            Diabetes Affliction 
          </div>
          <div *ngFor="let el of utils.counter(3); index as col" class="color-col">
            <div *ngFor="let block of utils.counter(3); index as row" class="color-block" 
            [ngStyle]="{backgroundColor: colorService.getColorFromCoords(row, col)}"
            [ngClass]="{active: selectedColorCoords[0] === col && selectedColorCoords[1] === row}"
            (click)="activateColorRange(col, row)"></div>
          </div>
        </div>
        <div class="range-wrapper" [ngStyle]="{visibility: colorRangeActive ? 'visible' : 'hidden'}">
          <div class="header">Ranges:</div>
          <div class="range">
            {{selectedOColorRange[0]}} < Obesity % < {{selectedOColorRange[1]}}
          </div>
          <div class="range">
            {{selectedDColorRange[0]}} < Diabetes % < {{selectedDColorRange[1]}}
          </div>
        </div>
</div>